.App {
  text-align: center;
  padding-top: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

option {
  font-size: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0,0,0,0.6);
}

.modal-overlay-2 {
  position: fixed;
  top: 5%;
  left: 15%;
  z-index: 1010;
  width: 70vw;
  height: 90vh;
}

.modal-profile {
  position: fixed;
  top: 5%;
  left: 15%;
  z-index: 1010;
  width: 70vw;
  height: 90vh;
}

.modal-update {
  position: fixed;
  top: 5%;
  left: 30%;
  z-index: 1010;
  width: 40vw;
  height: 90vh;
}

.modal-sell {
  position: fixed;
  top: 5%;
  left: 30%;
  z-index: 1010;
  width: 40vw;
  height: 90vh;
}

.modal-signin {
  position: fixed;
  top: 25%;
  left: 37.5%;
  z-index: 1010;
  width: 25vw;
  height: 50vh;
}

.modal-signup {
  position: fixed;
  top: 10%;
  left: 35%;
  z-index: 1010;
  width: 30vw;
  height: 80vh;
}

.box-sizing {
  box-sizing: border-box;
}

/* .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 10;
} */

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

/* .modal-header {
  display: flex;
  justify-content: flex-end;
} */

.modal-close-button {
  position: absolute;
  right: 0;
  z-index: 1020;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: black;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

.max-height {
  height: 100%;
}
.half-height {
  height: 100%;
}

.img-center {
  align-items: center;
}
.borderr {
  border: 1px solid red;
}
.v-align {
  display: flex;
  align-items: center;
}

.font-card {
  margin: 0;
  font-size: 12px;
}



.pointer:hover {
  cursor: pointer;
  box-shadow: 2px 3px 5px #888888;
  transform: scale(1.03);
}

.margin-center {
  width: 80vw;
  margin: auto;
}

/* .Fade-In{
  transition: width 0.5s, height 2s, opacity 0.5s 0.5s;
} */

@media (prefers-reduced-motion: no-preference) {
  .FadeIn {
      animation: Fade-In .7s 1;
  }
}