.marginLeft {
    margin-left: 200px;
}
.fadeOut{
    opacity:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
@keyframes learn {
    0% {left:1px;}
    100% {left:300px;}
}
.SlideIn{
    animation-name: learn;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}
@media (prefers-reduced-motion: no-preference) {
      .FadeIn {
          animation: Fade-In .5s 1;
      }
  }
@media (prefers-reduced-motion: no-preference) {
      .FadeOut {
          animation: Fade-Out 2s 1;
      }
  }
@keyframes Fade-In {
    from {opacity: 0;
    }
    to {opacity: 1;
    }
}
@keyframes Fade-Out {
    from {opacity: 1;
    }
    to {opacity: 0;
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .bgcol {
      background-color: red;
  }